@font-face {
  font-family: 'Shinb7Regular';
  src: url('../public/assets/fonts/Shinb7Regular.woff');
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: url('../public/assets/fonts/SpoqaHanSansNeo-Medium.woff');
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('../public/assets/fonts/SpoqaHanSansNeo-Regular.woff');
}